@model VVBViewModel
@{
    ViewData["Title"] = "Afrekenen";
}
<h1>Afrekenen</h1>
<table class="table">
    <thead>
        <tr>
            <th colspan="3">Titel</th>
            <th>Prijs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var verhuur in Model.Verhuringen)
        {
            <tr>
                <td colspan="3">@verhuur.Film.Titel</td>
                <td> € @verhuur.Film.Prijs</td>
            </tr>
        }
        <tr>
            <td colspan="3"><b>Totaal:</b></td>
            <td><b>€ @ViewBag.TotaalPrijs</b></td>
        </tr>

    </tbody>
</table>

<p>Wordt gefactureerd aan:</p>
<p>@Model.Klant.Naam</p>
<p>@Model.Klant.Straat_Nr</p>
<p>@Model.Klant.Gemeente</p>

<a class="nav-link btn btn-primary" asp-controller="Home" asp-action="ClearModelEnSession">Ga terug homepagina</a>
